{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bar Chart{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="graphDiv" class="canvas"></div>
<script>
  d3.json('/static/menu.json', data => {
    console.log(data);
    const svg = d3.select('.canvas')
      .append('svg')
      .attr('width', 600)
      .attr('height', 600);
    
    const margin = { top: 20, left: 75, bottom: 100, right: 100 };
    const graphWidth = 600 - margin.left - margin.right;
    const graphHeight = 600 - margin.top - margin.bottom;

    const graph = svg.append('g')
      .attr('widht', graphWidth)
      .attr('height', graphHeight)
      .attr('transform', `translate(${margin.left}, ${margin.top})`);

    const xAxisGroup = graph.append('g')
      .attr('transform', `translate(0, ${graphHeight})`);
    const yAxisGroup = graph.append('g');

    const x = d3.scaleBand()
      .domain(data.map(d => d.name))
      .range([0, graphWidth])
      .paddingInner(0.2)
      .paddingOuter(0.2);

    const y = d3.scaleLinear()
      .domain([0, d3.max(data, d => d.orders)])
      .range([graphHeight, 0]);

    const xAxis = d3.axisBottom(x);
    const yAxis = d3.axisLeft(y).ticks(3).tickFormat(d => `${d} orders`);
    xAxisGroup.call(xAxis);
    yAxisGroup.call(yAxis);
    xAxisGroup.selectAll('text')
      .attr('transform', 'rotate(-45)')
      .attr('text-anchor', 'end')
      .attr('fill', 'green');

    const rects = graph.selectAll('rect')
      .data(data);

    rects.enter()
      .append('rect')
        .attr('width', x.bandwidth)
        .attr('height', d => graphHeight - y(d.orders))
        .attr('fill', 'green')
        .attr('x', d => x(d.name))
        .attr('y', d => y(d.orders));

    rects.enter()
      .append('rect')
        .attr('width', x.bandwidth)
        .attr('height', d => graphHeight - y(d.low))
        .attr('fill', 'blue')
        .attr('x', d => x(d.name))
        .attr('y', d => y(d.low));
  });
</script>
{% endblock %}
